body {
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding: 12px 10px 0 10px;

}

li {
    display: inline;
    margin: 5px 10px;
    color: white;

}

a {
    text-decoration: none;
    color: white;
}

header {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 0 10px;
    background-color: #163020; /* 294B29 */
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid black;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}
nav h3 a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

nav ul li {
    color: whitesmoke;
    padding: 0 20px;
}

nav ul li a{
    color: whitesmoke;
}
nav ul li a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}
nav h3{
    float: left;
    color: whitesmoke;
    padding-left: 40px;
   
}

nav ul{
    overflow: auto;
    text-align: right;
    padding-top: 25px;
    padding-right: 50px;
    font-weight: bold;
}

#outer {
    background-color: white;
    margin: 50px;
    border-radius: 40px;
    box-shadow:15px 15px 7px rgba(28, 28, 28, 0.9);
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 8%;
}

#maindiv {
    margin-right: 0;
    margin: 10% 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title-1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10%;
}

#gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
}

#inner-left {
    float: left;
    margin-right: 120px;
    column-gap: 15%;
}

#inner-left .left {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10%;
    font-size: 20px;
    background-color: rgb(234, 233, 233);
    border: 2px solid rgb(234, 233, 233);
    border-radius: 4px;
    color: black;
}

::placeholder{
    color: black;
}

#inner-right .right {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10%;
    font-size: 20px;
    background-color: rgb(234, 233, 233);
    border: 2px solid rgb(234, 233, 233);
    border-radius: 4px;
    color: black;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 4px;
    border: none;
    background-color: #2b513a;
    color: whitesmoke;
    padding: 10px;
    width: 100px;
    margin-top: 5%;
    font-size: 15px;
}

button:hover {
    text-shadow: 1px 1px 8px rgb(255, 255, 255, 1);
}

#reset{
    margin-left: 5%;
}

#title-2 {
    background-image: url("/img/veggies-fruits-1.jpeg");
    height: 620px;
    width: 500px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    border-radius: 0px 40px 40px 0px;
}

#title-2 h1 {
    margin-top: 50%;
    margin-left: 15%;
    font-size: xx-large;
    color: whitesmoke;
}

#title-2 p {
    font-size: x-large;
    margin-left: 15%;
    color: whitesmoke;
}

#ful1 h3 {
    text-decoration: underline;
}

#ful2 h3 {
    text-decoration: underline;
}

#ful1 li a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

#ful2 li:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

footer {
    background-color: #163020;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 1%;
    float: left;
    overflow: auto;
    border-top: 2px solid black;
}

footer ul {
    list-style: none;
    color: whitesmoke;
    display: inline-block;
    padding: 0;

}

footer ul li {
    display: block;
    font-size: 20px;
    margin: 20px 10px;
    color: whitesmoke;
}

#ful1 {
    float: left;
    margin-left: 20%;
}

#icons li {
    display: inline;
}

#icons li a {
    padding-top: 3px;
}

.fbIcon {
    width: 30px;
    height: 30px;
}

.lnIcon {
    width: 30px;
    height: 30px;
}

.inIcon {
    width: 30px;
    height: 30px;
}

footer #heartIcon {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

#iconLinks {
    margin-top: 0%;
}

footer p {
    clear: left;
    color: whitesmoke;

}

footer ul li a {
    text-decoration: none;
    color: whitesmoke;
}

#menu_icon {
    display: none;
    /* Hide the menu icon by default */
}

@media screen and (max-width: 760px) {
    nav ul {
        display: none;
        text-align: center;
    }

    #mobile_menu {
        /* display: block; */
        text-align: center;
    }

    #mobile_menu ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }

    #mobile_menu ul li {
        display: block;
        margin-bottom: 10px;
    }

    #mobile_menu ul li a {
        display: block;
        padding: 10px;
        background-color: #163020;
        color: white;
        text-decoration: none;
    }
    
    main {
        background-image: url(/img/veggies-fruits-1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #outer {
        display: inline-block;
        margin-top: 20%;
        margin-left: 12%;
    }

    #maindiv {
        margin: 20px;
        padding: 10px;
    }

    #maindiv h1{
        font-size: 40px;
        margin-bottom: 5%;
    }

    #gridcontainer {
        display:grid;
        font-size: 30px;
    }

    #inner-left {
        margin-right: 5%;
        padding-right: 60px;
    }

    #inner-left .left {
        width: 200px;
    }

    #inner-right .right {
        width: 200px;
    }


    #title-2 {
        display: none;
    }

    footer {
        margin-top: 0;
    }
    footer ul {
        display: block;
        text-align: center;
    }

    #ful1,
    #ful2 {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #iconLinks {
        margin-top: 20px;
    }

    #icons li {
        margin: 0 10px;
    }

    footer p {
        margin-top: 20px;
    }

    #menu_icon {
        display: block;
        cursor: pointer;
        float: left;
        padding: 10px;
        color: white;
        margin-top: 2%;
        margin-left: 3%;
    }

    #mobile_menu {
        display: none;
        /*Hide the mobile menu by default */
        position: absolute;
        top: 80%;
        /* Position below the header */
        left: 0;
        width: 100%;
        background-color: #163020;
        /* Adjust as needed */
        z-index: 1000;
        /* Ensure the menu is above other elements */
    }

    #mobile_menu.show {
        display: block;
        /* Show the mobile menu when the "show" class is present */
    }

    #mobile_menu ul {
        list-style: none;
        padding: 0;
    }

    #mobile_menu ul li {
        margin: 10px 0;
    }

    #mobile_menu ul li a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
    }

    /* Adjusted styles for the navigation links */
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        display: none;
        /* Hide individual navigation links */
    }

    #footergrid {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    #ful2 {
        margin-left: 1%;
    }

}